.item {
  color: black;
  font-size: 20px;
}

.item img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.item div {
  margin-left: 0px;

  border-style: solid;
  border-radius: 10px;
  border-color: black;

}
