.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: auto;
    grid-template-areas: "h h"
                         "n c"
                         "f f" ;

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
      background-color: #8a3907;
    /* grid-gap: 10px; */
}

.app-wrapper-content {
    grid-area: c;
    background-color: #8a3907;
}


.nav-link {
  color:white;
}

.nav-link:hover {
  color: green;
}
